:css
  sup {color: red;}

= form_for @portfolio do |f|

  - if @portfolio.errors.any?
    %div{:style => "color: red"}
      %h2
        = pluralize(@portfolio.errors.count, "error")
        prohibited this portfolio from being saved:
      %ul
        - @portfolio.errors.each do |error|
          %li= error.full_message

  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control"
  .form-group
    = f.label :description
    = f.text_field :description, class: "form-control"
  .form-group
    = f.label :status, "Status <sup>*</sup>".html_safe
    = f.select :status, ["Active", "Inactive"], {include_blank: '-- Select One --'}, {class: "form-select" , required: true}
  .form-group
    = f.label :uploaded_file, "Upload portfolio CSV file <sup>*</sup>".html_safe
    = f.file_field :uploaded_file, required: true

  .form-group
    %br
    %button{type: "submit", class: "btn btn-primary"}
      - if request.path.include?("edit")
        Edit
      - else
        Create
      Portfolio
%br
%br
